<div class="product-card" *ngIf="!!product">
    <img [src]="product.image">
    <span>{{ product.name }}</span>
    <small>{{ !!product?.description ? product?.description : "1 ud." }}</small>
    <span><strong>{{ getPrice() }}</strong>/ud.</span>
    <ng-container *ngIf="units <= 0; else inShoppingCart">
        <button mat-raised-button color="primary" (click)="addToShoppingCart()">
            Añadir al carro
        </button>
    </ng-container>
    <ng-template #inShoppingCart>
        <mat-divider></mat-divider>
        <div class="product-card-footer">
            <div class="product-card-footer-units">
                <small>En carro</small>
                <span><strong>{{ this.units }} ud.</strong></span>
            </div>
            <div>
                <button mat-mini-fab color="warn" (click)="deleteFromShoppingCart()">
                    <ng-container *ngIf="units > 1; else noUnits">
                        <mat-icon>remove</mat-icon>
                    </ng-container>
                    <ng-template #noUnits>
                        <mat-icon>delete</mat-icon>
                    </ng-template>
                </button>
                <button mat-mini-fab color="accent" (click)="addToShoppingCart()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
</div>
