<mat-toolbar>
  <a mat-button class="logo" aria-label="Go to home" routerLink="/home">
    <img src="assets/images/mercadona_logo.svg">
  </a>
  <form class="search-form">
    <div class="search-icon">
      <mat-icon>search</mat-icon>
    </div>
    <input type="search" matInput placeholder="Buscar productos">
  </form>
  <nav mat-tab-nav-bar class="categories-tabs">
    <a mat-tab-link routerLink="/category">Categorías</a>
    <a mat-tab-link routerLink="/habituales" routerLinkActive="active">Mis habituales</a>
  </nav>

  <span class="spacer"></span>

  <ng-container *ngIf="!this.userLogged; else noUserLogged">
    <app-login-button></app-login-button>
  </ng-container>
  <ng-template #noUserLogged>
    <app-profile-button [userLogged]="this.userLogged"></app-profile-button>
  </ng-template>

  <button mat-raised-button class="shopping-cart-button" color="accent" aria-label="Go to shopping-cart"
    (click)="toggleShoppingCart()">
    <mat-icon [matBadge]="getNumberOfProducts()">shopping_cart</mat-icon>
    <span *ngIf="getTotalPrice(); let totalPrice" class="total-price">{{ totalPrice }}</span>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>
