<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar>
    <a mat-button class="logo" aria-label="Go to home" routerLink="/">
      <img src="assets/images/mercadona_logo.svg">
    </a>
    <form class="search-form">
      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>
      <input type="search" matInput placeholder="Buscar productos">
    </form>
    <nav mat-tab-nav-bar>
      <a mat-tab-link>Categorías</a>
      <a mat-tab-link>Mis habituales</a>
    </nav>

    <span class="spacer"></span>

    <button mat-button class="profile-button" [matMenuTriggerFor]="userMenu">
      <span>Iniciar sesión</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <h2 class="username">Invitado</h2>
      <mat-divider></mat-divider>
      <button mat-raised-button (click) = "openLogin()" color="accent" class="sign-in-button" aria-label="Go to user">
        Iniciar sesión
      </button>

      <mat-divider></mat-divider>

      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>help</mat-icon>
          <div mat-line>Preguntas frecuentes</div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>support_agent</mat-icon>
          <div mat-line>Ayuda</div>
        </mat-list-item>
      </mat-list>
    </mat-menu>

    <button mat-raised-button [class.active]="toggleActive" color="accent" aria-label="Go to shopping-cart"  (click)="activateSideNav()">
      <mat-icon matBadge="1" class="shopping-cart-icon">shopping_cart</mat-icon>
      <span>1,00 €</span>
    </button>
</mat-toolbar>

<mat-divider></mat-divider>


