<!-- <mat-drawer #drawer class="carrito" mode="side">
  <div class="main">
    <div class="container">
      <div class="exit">
        <button mat-dialog-close><mat-icon>Cancel</mat-icon></button>
      </div>

      <div class="titleSub">
        <p class="title"><b>Carro</b></p>
        <p class="codPostal">Entregar en 28039</p>
      </div>

      <div class="emptyBtn">
        <button mat-button (click)="empty();"> Vaciar<mat-icon>Delete</mat-icon></button>
      </div>
    </div>

    <div class="container2"></div>

    <div class="container3">
      <div><img class="imageProdcut"
          src="https://prod-mercadona.imgix.net/images/5e949a6f64b52be230b8f1084156dcd9.jpg?fit=crop&h=300&w=300"></div>

      <div class="productInfo">
        <div>
          <p class="name">Palmera de chocolate</p>
          <p class="description"> Pieza de 425g</p>
          <p>
            <span class="price"><b>1.75 </b></span>
            <span> € </span>
            <span class="unit"><b> /ud.</b></span>
          </p>
        </div>

        <hr class="line">
        <div class="addProduct">
          <div class="productsSC">
            <p class="shoppingCard">En carro</p>
            <p class="units2"><span class="units2SC" #unidad> 1 </span> ud.</p>
          </div>
          <div class="addBtn">
            <button mat-button (click)="removeUnits();">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
            <button class="addBtn1" mat-button (click)="addUnits();">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="container4">
      <mat-icon class="iconHelp"> help </mat-icon>
      <div class="aproxPrice-container"><span> Total aproximado </span></div>
      <div class="totalPrice-container">
        <span class="finalPrice" #precioTotal> 1 </span><span class="simbolEuro"> € </span>
      </div>
    </div>

    <div class="container5"><button mat-button class="finishShopping" (click)="finish();"><b>Tramitar pedido</b></button></div>
  </div>
</mat-drawer> -->

<mat-list>
  <div mat-subheader>Modules</div>
  <mat-divider></mat-divider>
 <!--  <mat-list-item *ngFor="let module of modules; let i = index">
      <mat-divider></mat-divider>
      <a [routerLink]="module?.url" class="module-list-item">
          <mat-icon mat-list-icon>{{ module.icon }}</mat-icon>
          <div mat-line>{{ module.name }}</div>
      </a>
  </mat-list-item> -->
</mat-list>
