.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .heading {
        display: inline-flex;
        flex-flow: column nowrap;
        width: 60%;
        margin: 15px;
        .heading-title {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: bold;
        }
        span {
            margin-bottom: 15px;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        .heading {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .container {
        .heading {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .container {
        .heading {
            width: 90%;
        }
    }
}