<div class = "window">
  <div class = "identificate-menu">
    <div class = "title-identificate-menu">
        <span> Identifícate </span>
    </div>

    <form class="container-form">
      <mat-form-field class="input-email" appearance="fill">
        <mat-label>Introduce tu email</mat-label>
        <input matInput placeholder="example@email.com">
      </mat-form-field>

      <mat-form-field class="input-password" appearance="fill">
        <mat-label> Contraseña </mat-label>
        <input matInput placeholder="***********">
      </mat-form-field>

      <div class = "button-accept-form">
        <button mat-raised-button> Continuar </button>
      </div>

      <div class = "button-deny-form">
        <button mat-button> Cancelar </button>
      </div>
    </form>
  </div>
</div>
