<h1>Identifícate</h1>

<form [formGroup]="loginForm">
  <div class="container">
    <mat-label><b>Introduce tu email</b></mat-label>
    <input type="text" matInput placeholder="Email" formControlName="email">

    <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error">
      <span style="color:red">
        Por favor, introduce tu correo
      </span>
    </div>
  </div>

  <div class="container" *ngIf="activated">
    <mat-label><b>Introduce tu contraseña</b></mat-label>
    <input type="password" matInput placeholder="Contraseña" formControlName="password">

    <div *ngIf="loginForm.get('password')?.hasError('required') && more" class="error">
      <span style="color:red">
        Por favor, introduce tu contraseña
      </span>
    </div>
  </div>

  <div class="AceptBtn">
    <button mat-raised-button color="accent" (click)="addPass()"><b>Login</b></button>
  </div>

  <div class="CancelBtn">
    <button mat-dialog-close color="accent" aria-label="cancel"><b>Cancelar</b></button>
  </div>
</form>
