<section class="signin__container">
  <h1>Identifícate</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <mat-form-field class="signin__email" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email@example.com" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.hasError('required')"> </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.hasError('email')"> </mat-error>
    </mat-form-field>

    <div class="container" *ngIf="activated">
      <mat-label><b>Introduce tu contraseña</b></mat-label>
      <input type="password" matInput placeholder="Contraseña" formControlName="password">

      <div *ngIf="loginForm.get('password')?.hasError('required') && more" class="error">
        <span style="color:red">
          Por favor, introduce tu contraseña
        </span>
      </div>
    </div>

    <div class="AceptBtn">
      <button mat-raised-button color="accent" (click)="addPass()"><b>Login</b></button>
    </div>

    <div class="CancelBtn">
      <button mat-dialog-close color="accent" aria-label="cancel"><b>Cancelar</b></button>
    </div>
  </form>
</section>
