<div class="container">
  <h1>Crear cuenta</h1>
  <label for="nombre"><b>Nombre</b></label>
  <input type="text" placeholder="Nombre" name="nombre" required>

  <label for="apellidos"><b>Apellidos</b></label>
  <input type="text" placeholder="Apellidos" name="apellidos" required>

  <label for="password"><b>Contraseña</b></label>
  <input type="password" placeholder="Contraseña" name="password" required>

  <input type="checkbox"><p>Al continuar, aceptas <a href="#">nuestros términos y condiciones </a>
  así como <a href="#">la politica de privacidad.</a></p>

  <button type="submit">Continuar</button>
  <button type="submit">Atrás</button>
  <a href="#">Ayuda</a>
</div>
