.flex {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.box1,
.box2 {
  max-width: 200px;
  border: 3px solid #e0e0e0;
  position: relative;
  padding: 8px 8px 14px;
  border-radius: 12px;
  margin: 4px;
  box-shadow: white;
  overflow: hidden;

}

.foto {
  width: 100%;
}

.titulo,
.precio {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.peso {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.boton {
  background-color: white;
  border-color: #FCB831;
  border-radius: 5px;
  padding: 5px;
}

.boton:hover {
  background-color: #FEE3AD;
}

.linea {
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  height: 25px;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
