  <div class="contenedorFlex" *ngIf = "!!product"  appHoverHighlight>
    <img class="imagen" src = "{{ product?.getImage() }}" alt="image">
    <h1 class="titulo"> {{ product?.getName() }} </h1>
    <div class="subtitulo"> Pieza de 425g </div>
    <div class="subtitulo"> Precio de 1,74$ </div>
    <div class="linea"> </div>
    <input class="boton" type= "button" value="Añadir al Carro">

    <div>
        <h3 class="contador" id="contador"> 0 </h3>
    </div>

    <div class="op">
        <button onclick = "incrementClick()" > + </button>
        <button onclick = "decrementClick()" > - </button>
    </div>
  </div>
