@import "../../../../../assets/styles/variables";

.shopping-cart {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    .shopping-cart-header {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .shopping-cart-order {
        padding: 10px 15px 0 15px;
    }
    .shopping-cart-products {
        height: 100%;
    }
    .shopping-cart-footer {
        padding: 10px;
        &> div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px 10px 10px;
            &> div {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                span {
                    margin-left: 5px;
                }
            }
        }

        button {
            width: 100%;
            background-color: $cucumber-white-15;
            color: white;
        }
    }
}

.exit-cart{
  display: flex;
  justify-content: center;
}

.exit-cart button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
  color: #808080bf;
}

.title-container{
  padding-left: 10px;
  margin-top: 30px;
  width: 180px;
}

.title{
  font-weight: bold;
  font-size: 30px;
}

.subtitle{
  font-size: 10px;
  padding-left: 3px;
  color: #5ea248;
}

.empty-cart{
  width: 100%;
  text-align: right;
}
