<section class="shopping-cart">
    <div class="shopping-cart-header">
        <div>
            <button mat-icon-button (click)="closeShoppingCart()">
                <mat-icon>close</mat-icon>
            </button>
            <div class="shopping-cart-title-container">
                <span class="shopping-cart-title">
                    Carro
                </span>
<!--                 <span>Entregar en 28039</span> -->
            </div>
        </div>
        <button type="button" mat-button (click)="emptyShoppingCart()">
            <mat-icon>delete</mat-icon>
            <span>Vaciar</span>
        </button>
    </div>
    <mat-divider></mat-divider>

    <mat-form-field class="shopping-cart-order">
        <mat-label>Ordenar</mat-label>
        <mat-select [formControl]="productOrderControl">
            <mat-option *ngFor="let option of orderOptions" [value]="option.value">
              {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>

    <div class="shopping-cart-products">
        <ng-container *ngIf="this.shoppingCartItems; let shoppingCartItems">
            <ng-container *ngFor="let item of shoppingCartItems; let itemIndex = index">
                <mat-divider *ngIf="itemIndex > 0"></mat-divider>
                <app-product-list-item [product]="item.product"></app-product-list-item>
            </ng-container>
        </ng-container>
    </div>
    <mat-divider></mat-divider>

    <div class="shopping-cart-footer">
        <div>
            <div>
                <mat-icon>info</mat-icon>
                <span>Total aproximado</span>
            </div>

            <span class="total-price">{{ getTotalPrice() }}</span>
        </div>
        <button type="button" mat-button>
            Tramitar pedido
        </button>
    </div>
</section>
