.window{
  height: 600px;
  width: 400px;
  background-color: rgba(44, 33, 33, 0.02);
}
.menu{
  margin: 30px;
  padding-top: 30px;
}

.title-menu{
  font-weight: bolder;
  font-size: 0.5cm;
  padding-bottom: 20px;
}

.container-form{
  display: flex;
  flex-direction: column;
}

.button-accept-form button{
  width: 100%;
}

.button-restart-form button{
  margin-top: 10px;
  width: 100%;
}

.button-help-form{
  width: 100%;
  text-align: center;
}

.button-help-form button{
  font-size: 0.3cm;
  text-decoration: underline;
  height: 0px;
  width: 0px;
}

.checkbox-container{
  width: 340px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.checkbox{
  margin-top: 20px;
}

.checkbox-info{
  padding-left: 15px;
}

.checkbox-info span{
  font-size: 0.3cm;
  height: inherit;
}

.conditions-terms{
  text-decoration: underline;
  font-size: 0.3cm;
  height: inherit;
  width: 0px;
  height: 0px;
}

.politica-privacidad{
  text-decoration: underline;
  font-size: 0.3cm;
  height: inherit;
  width: 0px;
  height: 0px;
}
