<!-- <div class = "window">
  <div class = "menu">
    <div class = "title-menu">
        <span> Crear Cuenta </span>
    </div>

    <form class="container-form" [formGroup]="createUser">

      <div class="input-container">
        <span> Nombre </span>
        <mat-form-field class="input" appearance="fill">
          <mat-label> Nombre </mat-label>
          <input matInput formControlName = "nombre">
        </mat-form-field>

        <div *ngIf = "formularioCreateUser.get('nombre')?.hasError('required') && buttonPressed" class = "error">
            Por favor introduce tu nombre
        </div>
      </div>

      <div class="input-container">
        <span> Apellidos </span>
        <mat-form-field class="input" appearance="fill">
        <mat-label> Apellidos </mat-label>
        <input matInput formControlName = "apellidos">
        </mat-form-field>

        <div *ngIf = "formularioCreateUser.get('apellidos')?.hasError('required') && buttonPressed" class = "error">
            Por favor introduce tus apellidos
        </div>
      </div>

      <div class="input-container">
        <span> Introduce tu contraseña </span>
        <mat-form-field class="input" appearance="fill">
          <mat-label> Contraseña </mat-label>
          <input matInput placeholder="***********" type = "password" formControlName = "password">
        </mat-form-field>

        <div *ngIf = "formularioCreateUser.get('password')?.hasError('required')  && buttonPressed" class = "error">
            Por favor introduce una contraseña
        </div>

        <div *ngIf = "formularioCreateUser.get('password')?.hasError('minlength')" class = "error">
            Por favor introduce una contraseña de al menos 8 dígitos
        </div>

      </div>


      <div class = "input-checkbox-container">

        <div class = "input-checkbox-container-flex">

          <mat-checkbox class="checkbox" formControlName = "checkbox"></mat-checkbox>

          <div class = "checkbox-info">
            <span> Al continuar, aceptas </span>
            <button mat-button class = "conditions-terms"> nuestros terminos y condiciones </button>
            <br>
            <span> así como </span>
            <button mat-button class = "politica-privacidad"> la politica de privacidad </button>

          </div>
        </div>

        <div div *ngIf = "(formularioCreateUser.get('checkbox')?.hasError('required')) && buttonPressed" class = "error" id = "checkbox-error">
            Por favor es necesario aceptar los 'terminos y condiciones' y las políticas de privacidad
        </div>

      </div>

      <div class = "button-accept-form">
        <button mat-raised-button (click) = "sendForm()"> Continuar </button>
      </div>

      <div class = "button-restart-form">
        <button mat-button (click) = "goBack()"> Atrás </button>
      </div>

      <div class = "button-help-form">
        <button mat-button> Ayuda </button>
      </div>
    </form>
  </div>
</div>
 -->
