<div class = "window">
  <div class = "menu">
    <div class = "title-menu">
        <span> Crear Cuenta </span>
    </div>

    <form class="container-form">
      <span> Nombre </span>
      <mat-form-field class="input-name" appearance="fill">
        <mat-label> Nombre </mat-label>
        <input matInput>
      </mat-form-field>

      <span> Apellidos </span>
      <mat-form-field class="input-surname" appearance="fill">
        <mat-label> Apellidos </mat-label>
        <input matInput>
      </mat-form-field>

      <span> Introduce tu contraseña </span>
      <mat-form-field class="input-password" appearance="fill">

        <mat-label> Contraseña </mat-label>
        <input matInput placeholder="***********">
      </mat-form-field>

      <div class = "checkbox-container">
        <mat-checkbox class="checkbox"></mat-checkbox>

        <div class = "checkbox-info">
          <span> Al continuar, aceptas </span>
          <button mat-button class = "conditions-terms"> nuestros terminos y condiciones </button>
          <br>
          <span> así como </span>
          <button mat-button class = "politica-privacidad"> la politica de privacidad </button>
        </div>
      </div>


      <div class = "button-accept-form">
        <button mat-raised-button> Continuar </button>
      </div>

      <div class = "button-restart-form">
        <button mat-button> Atrás </button>
      </div>

      <div class = "button-help-form">
        <button mat-button> Ayuda </button>
      </div>
    </form>
  </div>
</div>
