<mat-sidenav #sidenav [mode]= "modo" class = "sidenav" position = "end">
  <div class="main">
    <div class="bloque1">

        <div class="botonSalirDelCarro">
            <button mat-button (click) = "toggleNav()">
              <mat-icon>cancel</mat-icon>
            </button>
        </div>

        <div class="titleSub">
            <p class="title">
                Carro
            </p>
            <p class="subtitle">
                Entregar en 28039
            </p>
        </div>

        <div class="botonVaciarCarro">
            <button mat-button (click) ="vaciarCarrito();"> Vaciar
              <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>

    <div *ngIf = "!getSidenavService().vacio()">

      <div  *ngFor = "let product of getSidenavService().getProducts()" class = "bloque3">

          <div class = "divider">
            <mat-divider></mat-divider>
          </div>

          <div>
              <img class="imagenProducto" src = '{{ product.getImage() }}' alt="">
          </div>


          <div class="productoInfo">
              <div>
                  <p class="nomProducto"> {{ product.getName() }} </p>
                  <p class="descripcionProducto"> Pieza de 425g </p>
                  <p>
                      <span class="negrita" #precioArticulo> 1.75 </span>
                      <span> € </span>
                      <span class="productoUd"> /ud.</span>
                  </p>
              </div>

              <mat-divider></mat-divider>

              <hr class="separador">

              <div class="productoAddContenedor">
                  <div class="enCarroCont">
                      <span class="enCarro">En carro</span>
                      <p class="unidades marron"><span class="marron"> {{ product.getCantidad()}} </span> ud.</p>
                  </div>
                  <div class="botonesAddRem">
                      <button mat-button (click) = "product.sumarCantidad()" > <mat-icon>add_shopping_cart</mat-icon></button>
                      <button class = "botonesAddRem1" mat-button (click) = "product.restarCantidad()" > <mat-icon>remove_shopping_cart</mat-icon></button>
                  </div>
              </div>
          </div>

      </div>

    </div>


    <div class="bloque4">
        <mat-icon class="imagenIconoInfo"> help </mat-icon>

        <div class="total-aproximado-container">
          <span> Total aproximado </span>
        </div>


        <div class = "total-price-container">


          <span class="precioTotalAproximado"> {{ "getCantidadTotal()" }} </span>
          <span class="simboloPrecioTotal"> € </span>
        </div>
    </div>

    <div class="bloque5">
        <button mat-button class="tramitarPedido" (click) ="tramitarPedido();"> Tramitar pedido </button>
    </div>
  </div>
</mat-sidenav>
