.product-list-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 10px 5px 0;
    img {
        height: 100px;
        width: 100px;
        padding: 5px 10px;
    }
    .product-list-item-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        .product-list-item-info-header {
            display: flex;
            flex-flow: column nowrap;
        }
        .product-list-item-info-footer {
            display: flex;
            justify-content: space-between;
            .product-list-item-footer-units {
                display: flex;
                flex-flow: column nowrap;
            }
        }
    }
}