.signin__container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  
  form > mat-form-field {
    min-width: 100%;
  }
  
  .action-button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  
  }
  .action-button__container > button {
    align-self: center;
    margin-top: 1rem ;
    min-width: 100%;
  }
  