<section class="signin__container">
  <h1>Identificate</h1>
  <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
    <mat-form-field  class="signin__email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput class = "signin_email" type="email" placeholder="email@example.com" formControlName="email" required>
      <mat-error *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.hasError('required')">
        {{ GENERAL_ERRORS.required }}</mat-error>
      <mat-error *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.hasError('email')">
        {{ USER_ERRORS.email.invalid }}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="signInForm.get('password')?.enabled" class="signin__password" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="password" formControlName="password" required>
      <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('required')">
          {{ GENERAL_ERRORS.required }}</mat-error>
      <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('minLength')">
          {{ USER_ERRORS.password.minLength }}</mat-error>
      <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('maxLength')">
          {{ USER_ERRORS.password.maxLength }}</mat-error>
    </mat-form-field>
    <div class="action-button__container">
      <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">Continuar</button>
      <button mat-raised-button color="accent" mat-dialog-close>Cancelar</button>
    </div>
  </form>
</section>
