<!--
  <section class="signin__container">
    <h1>Identificate</h1>
    <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
      <mat-form-field class="signin__email" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email@example.com" formControlName="email" required>
        <mat-error *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.hasError('required')">
          {{ USER_ERRORS.required }}</mat-error>
        <mat-error *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.hasError('email')">
          {{ USER_ERRORS.email.invalid }}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="signInForm.get('password')?.enabled" class="signin__password" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="password" formControlName="password" required>
        <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('required')">
            {{ USER_ERRORS.required }}</mat-error>
        <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('minLength')">
            {{ USER_ERRORS.password.minLength }}</mat-error>
        <mat-error *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.hasError('maxLength')">
            {{ USER_ERRORS.password.maxLength }}</mat-error>
      </mat-form-field>
      <div class="action-button__container">
        <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">Continuar</button>
        <button mat-raised-button color="accent" mat-dialog-close>Cancelar</button>
      </div>
    </form>
  </section>

 -->

  <div class = "window">
    <div class = "identificate-menu">
      <div class = "title-identificate-menu">
          <span> Identifícate </span>
      </div>

      <form [formGroup] = "formLogin" class = "container-form">

        <div class = "containers">
          <mat-form-field class = "input" id = "1" appearance = "fill">
            <mat-label> Introduce tu email </mat-label>
            <input matInput placeholder = "example@email.com" formControlName = "email"/>
          </mat-form-field>

          <div *ngIf = "formularioLogin.get('email')?.hasError('required') && formularioLogin.get('email')?.touched" class = "error">
                Por favor introduce un correo
          </div>

          <div *ngIf = "formularioLogin.get('email')?.hasError('pattern') && formularioLogin.get('email')?.touched " class = "error">
                Por favor introduce un correo válido
          </div>
        </div>

        <div class = "containers" *ngIf = "isOn">
          <mat-form-field class = "input" id = "2" appearance = "fill">
            <mat-label> Contraseña </mat-label>
            <input matInput type = "password" placeholder = "*******" formControlName = "password">
          </mat-form-field>

          <div *ngIf = "formularioLogin.get('password')?.hasError('required') && buttonPressed" class = "error">
                Introduce tu contraseña
          </div>
        </div>

        <div class = "button-accept-form">
          <button mat-raised-button (click) = "continueForm()"> Continuar </button>
        </div>

        <div class = "button-deny-form">
          <button mat-button (click) = "cancelForm()"> Cancelar </button>
        </div>
      </form>
    </div>
  </div>

