<form class="register">
  <h1>Crear cuenta</h1>
  <input type="text" placeholder="Introduce tu nombre" name="nombre" required>

  <input type="text" placeholder="Introduce tus apellidos" name="nombre" required>

  <input type="password" placeholder="Introduce tu contraseña" name="password" required>

  <input type="checkbox">
  <p>Al continuar, aceptas <a href="#">nuestros términos y condiciones </a>
    así como <a href="#">la politica de privacidad.</a></p>

  <button mat-raised-button color="accent" aria-label="Progress"><b>Continuar</b></button>
  <button mat-dialog-close color="accent" aria-label="Go back"><b>Atrás</b></button>
  <a href="#">Ayuda</a>

</form>
